@use './partials/header';
@use './partials/hero';
@use './partials/main';
@use './partials/carousel';
@use './partials/footer';
@use './partials/variables';
@use './partials/mixins';
@use './partials/fonts';
@use './partials/comments';

* {
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'AvenirNext LT Pro';
    box-sizing: border-box;
}

