@use './partials/header';
@use './partials/footer';
@use './partials/variables';
@use './partials/mixins';
@use './partials/fonts';

* {
    margin:0;
}
body {
    font-family: 'AvenirNext LT Pro';
    box-sizing: border-box;
}
