@use './variables';
@use './mixins';

.comments {
    padding: 1rem 0 1rem 1rem;
    &__title{

    }
    &__form-wrapper{
        display: flex;
        border-bottom: 1px solid variables.$secondary-color-divider;
        padding:1rem 1rem 1rem 0;
        
    }
    &__wrapper--right{
        padding:0 0 1rem 1rem;
    }
    &__img{
        height:2.25rem;
        width:2.25rem;
        border-radius: 50%;
    }


    &__label{
        color:variables.$primary-color-inactiveCTA;
        padding-bottom:1rem;
        
    }


    &__input{
        margin: 4px 0 20px 0;
        height: 36px;
        width:100%;
        border-radius: 4px;
        padding:12px;
        border: 1px solid variables.$secondary-color-divider;
    }

    &__input--comment{
        padding-bottom: 4rem;
        margin-bottom: 1rem;
        overflow: hidden;
    }
   
    &__button{
        display: block;
       width:100%;
        @include mixins.cta;
    }

    &__wrapper{
        display: flex;
    
    }

    &__wrapper-no-img{
        background-color: variables.$secondary-color-divider;
        width: 2.25rem;
        height:2.25rem;
        border-radius: 50%;
        padding-right:2.5rem;
    }
    &__wrapper{
        padding:1rem 1rem 0 0;
        border-bottom: 1px solid variables.$secondary-color-divider;
    }
    &__wrapper-name-date{
        display: flex;
        justify-content: space-between;
    }
   
}