@use './variables';
@use './mixins';

.comments {
    padding: 1rem 0 1rem 1rem;
    &__title{

    }
    &__wrapper{
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid variables.$secondary-color-divider;
        padding:1rem 1rem 1rem 0;
        
    }
    &__wrapper-name-date{
        display: flex;
        justify-content: space-between;
        padding-bottom: 1rem;
    }
    &__img{
        height:2.25rem;
        width:2.25rem;
        border-radius: 50%;
    }

    &__wrapper-input{
        // width:85%;
        
    }

    &__input-title{
        color:variables.$primary-color-inactiveCTA;
        padding-bottom:0.25rem;
    }

    // &__input-textarea {
    //     resize:none;
    //     // width:85%;
    //     padding:0.75rem;
    //     border-radius: 4px;
    //     border: 1px solid variables.$primary-color-inactiveCTA;
    // }

    // &__input-textarea--small {
    //     height: 2.25rem;
    // }
    &__input-name{
        width: 100%;
    }
    &__input-comment{
        width:100%;
    }
    &__button{
        display: block;
       width:100%;
        @include mixins.cta;
    }

    &__wrapper--left-no-img{
        background-color: variables.$secondary-color-divider;
        width: 2.25rem;
        height:2.25rem;
        border-radius: 50%;
    
    }
    &__wrapper--right{
        width:85%;
    }
}