@use './variables';
@use './mixins';

.footer{
    background-color: variables.$primary-color-dark;
    color: variables.$primary-color-light;
    padding: 1.5rem 0 1rem 2rem;
    @include mixins.tablet{
        padding-left:3rem;
        padding-right: 3rem;
        position: relative;
    }
    @include mixins.desktop{
        padding:1.5rem 6.75rem 2rem;
    }

    // wraps the title and icons

    &__title-wrapper {
        width: 60%;
        @include mixins.tablet{
            display: flex;
            justify-content: space-between;
            align-items: baseline;
            padding-top:1rem;
            padding-bottom: 1.5rem;
        }
        @include mixins.desktop{
            width:50%;
        }
    }

    &__title {
        font-size: 1.5rem;
        padding-bottom: 1rem;
        @include mixins.tablet{
            font-size: 2rem;
        }
    }

    &__icons {
        display: flex;
        justify-content: space-between;
        padding-bottom: 1rem;
        padding-bottom: 1.75rem;
        width:75%;
        @include mixins.tablet{
            width: 45%;
        }
    }

    // wraps all of the contacts

    &__contact-wrapper {
        @include mixins.tablet{
            display: flex;
            justify-content: space-between;
        }
        @include mixins.desktop{
            width: 75%;
        }
    }

    // wraps individual contacts

    &__contact {
        padding-bottom: 2rem;
        line-height: 1.125rem;
        &:last-of-type {
            padding-bottom: 4.5rem;
        }
        @include mixins.tablet{
            font-size: 0.875rem;
        }
    }

    &__contact-text {
        padding-bottom: 1.5rem;
    }

    &__contact-text--bold {
        font-weight: 700;
    }

    //contact email links

    &__link {
        text-decoration: none;
        color: variables.$primary-color-light;
    }
    
    &__logo {
        @include mixins.tablet{
            position:absolute;
            right:3.5rem;
            top: 2.75rem;
        }
        @include mixins.desktop{
            right:7rem;
        }
    }

    &__copyright {
        display: block;
        padding-top: 1rem;
    }
}
