@use './variables';


.footer{
    background-color: variables.$primary-color-dark;
    color: variables.$primary-color-light;
    padding: 1.5rem 0 1rem 2rem;
    @media (min-width:variables.$tablet-breakpoint){
        padding-left:3rem;
        padding-right: 3rem;
        position: relative;
    }
    @media (min-width:variables.$desktop-breakpoint){
        padding:1.5rem 6.75rem 2rem;
    }
    &__title-wrapper {
        width: 46%;
        @media (min-width: variables.$tablet-breakpoint){
            display: flex;
            justify-content: space-between;
            padding-top:1rem;
            padding-bottom: 1.5rem;
        }
        @media (min-width:variables.$desktop-breakpoint){
            width:45%
        }
    }
    &__title {
        font-size: 1.5rem;
        padding-bottom: 1rem;
        @media (min-width:variables.$desktop-breakpoint){
            font-size: 2.25rem;
        }
    }
    &__icons {
        display: flex;
        justify-content: space-between;
        padding-bottom: 1rem;
        padding-bottom: 1.75rem;
        @media (min-width:variables.$tablet-breakpoint){
            width: 45%;
        }
    }
    &__contact-wrapper {
        @media (min-width: variables.$tablet-breakpoint){
            display: flex;
            justify-content: space-between;
        }
        @media (min-width:variables.$desktop-breakpoint){
            width: 75%;
        }
    }
    &__contact {
        padding-bottom: 2rem;
        line-height: 1.125rem;
        @media (min-width:variables.$tablet-breakpoint){
            font-size: 0.875rem;
        }
    }
    &__contact-text {
        padding-bottom: 1.5rem;
    }
    &__contact-text--bold {
        font-weight: 700;
    }
    &__link {
        text-decoration: none;
        color: variables.$primary-color-light
    }
    
    &__copyright {
        padding-top:2.5rem;
    }
    &__logo {
        @media (min-width:variables.$tablet-breakpoint){
            position:absolute;
            right:3.5rem;
            top: 2.75rem;
        }
        @media (min-width:variables.$desktop-breakpoint){
            right:7rem;
        }
    }
    &__copyright-text {
        display: block;
        padding-top: 1rem;
    }
}
