@use './variables';
@use './mixins';


.header {
    background-color: variables.$primary-color-dark;
    width: 100%;
    padding: 1rem 0 0 0;
    @include mixins.tablet {
        display:flex;
        flex-direction: row;
        padding:1.5rem 0 0;
    }


    // wraps the logo

    &__wrapper {
        display: flex;
        justify-content: center;
    }

    &__logo {
        @include mixins.tablet {
            padding-left: 2.25rem;
        }
        @include mixins.desktop {
            padding-left: 5rem;
        }
    }

    // wraps the <ul>

    &__nav {
        width:100%;
        @media (min-width: variables.$tablet-breakpoint){
            width:25%;
        }
    }

    //wraps the <li>s 

    &__nav-list{
        display: flex;
        padding-top: 1rem;
        padding-left: 0;
        @include mixins.tablet{
           padding-top: 0;
           padding-left: 2.5rem;
           display: flex;
           justify-content: space-around;
        }
    }

    // these are individual <li>

    &__nav-item{
        display: flex;
        justify-content: space-around;
        list-style-type: none;
        width:50%;
        @include mixins.tablet{
            font-size: 0.875rem;
        }
    }

    &__nav-item--active{
        font-weight: 700;
        width:50%;
        border-bottom: 3px solid variables.$primary-color-light;
        padding-bottom: 1rem;
        @include mixins.tablet{
            width:auto;
        }
    }

    &__nav-item--inactive{
        width:50%;
        &:hover {
            color: variables.$primary-color-light;
            border-bottom: 3px solid variables.$primary-color-light;
        }
        @include mixins.tablet{
            width: auto;
            &:hover {
                color: variables.$primary-color-light;
                border-bottom: 3px solid variables.$primary-color-light;
            }    
        }
    }

    &__nav-link{
        text-decoration: none;
        color: variables.$primary-color-light;

    }

    &__nav-link--inactive {
        color:variables.$secondary-color-divider;
    }
}



