@use './variables';
@use './mixins';


.hero {
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), 
    url("../../assets/images/hero-bio.jpg");
    display: block;
    width:100%;
    height: 55vh;
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    @include mixins.tablet{
        height: 83vh;
    }
    @include mixins.desktop{
        height:100vh;    
    }

    &__title {
        color:variables.$primary-color-light;
        padding-left: 1rem;
        @include mixins.tablet{
            font-size: 3.75rem;
            padding-left: 2.25rem;
        }
        @include mixins.desktop{
            padding-left: 5rem;
        }
    }
}