.main {
    padding: 1.5rem 1rem 1rem;
    &__title{
        font-size: 1.5rem;
        padding-bottom: 1rem;
    }
    
    &__img {
        width:100%;
        padding-bottom: 1rem;
    }
    &__img-text{
        font-weight: 700;
        line-height: 1.5rem;
        padding-bottom: 1rem;

    }
    &__subtitle{
        font-size: 0.875rem;
        font-weight: 600;
        padding-bottom: 1rem;
        padding-top: 0.5rem;
    }
    &__box{
        padding-bottom: 1rem;
    }
    &__text{
        font-size: 0.813rem;
        line-height: 1.3rem;
    }

}