@use './variables';
@use './mixins';


.main {
    padding: 1.5rem 1rem 1rem;
    @include mixins.tablet{
        padding: 3rem 2.25rem 2.25rem;
    }
    @include mixins.desktop{
        padding: 3.5rem 5rem; 
    }
    
    &__title{
        padding-bottom: 1rem;
        @include mixins.tablet{
            font-size: 2.25rem;
            padding-bottom: 2.25rem;
        }
    }
    
    // img

    &__img {
        width:100%;
        padding-bottom: 1rem;
        @include mixins.tablet{
            padding: 0 2.25rem 2.25rem 2.25rem;
           
        }
        @include mixins.desktop{
            padding:0 10rem 2.25rem 10.5rem;
        }
    }

    &__img-text{
        font-weight: 700;
        line-height: 1.5rem;
        padding-bottom: 1rem;
        @include mixins.tablet{
            padding: 0 2.25rem 1.5rem 2.25rem;
            &:last-of-type {
                padding-bottom: 2.75rem;
            }
            font-size: 1.5rem;
            line-height: 2rem;
        }
        @include mixins.desktop{
            padding-left: 10.5rem;
            padding-right:15rem;
        }
    }

    // wraps the subtitle and paragraphs 

    &__wrapper{
        @include mixins.desktop{
            padding-left:8.25rem;
            padding-right:8.25rem;
        }
    }

    &__subtitle{
        font-size: 0.875rem;
        font-weight: 600;
        padding-bottom: 1rem;
        padding-top: 1rem;
        @include mixins.tablet{
            padding: 0 2.25rem 1.75rem 2.25rem;
            font-size: 1.5rem;
        }
    }

    // wraps both paragraphs

    &__text-wrapper{
        @include mixins.tablet{
            display: flex;
        }
    }

    // wraps individual paragraphs

    &__text-box{
        padding-bottom: 1rem;
    }

    // these are the paragraphs

    &__text{
        font-size: 0.813rem;
        line-height: 1.3rem;
        @include mixins.tablet{
            padding-left: 2.25rem;
            padding-right: 2.25rem;
            font-size: 0.875rem;
            line-height: 1.5rem;
        }
    }
}