@use './variables';

.main {
    padding: 1.5rem 1rem 1rem;
    @media (min-width: variables.$tablet-breakpoint){
        padding: 3rem 2.25rem 2.25rem;
    }

    &__title{
        font-size: 1.5rem;
        padding-bottom: 1rem;
        @media (min-width: variables.$tablet-breakpoint){
            font-size: 2.25rem;
            padding-bottom: 2.25rem;
        }
    }
    
    &__img {
        width:100%;
        padding-bottom: 1rem;
        @media (min-width: variables.$tablet-breakpoint){
            padding: 0 2.25rem 2.25rem 2.25rem;
        }
    }
    &__img-text{
        font-weight: 700;
        line-height: 1.5rem;
        padding-bottom: 1rem;
        @media (min-width:variables.$tablet-breakpoint){
            padding: 0 2.25rem 2.25rem 2.25rem;
            font-size: 1.5rem;
            line-height: 2rem;
        }

    }
    &__subtitle{
        font-size: 0.875rem;
        font-weight: 600;
        padding-bottom: 1rem;
        padding-top: 0.5rem;
        @media (min-width:variables.$tablet-breakpoint){
            padding: 0 2.25rem 2.25rem 2.25rem;
            font-size: 1.5rem;
        }
    }
    &__wrapper{
        @media (min-width: variables.$tablet-breakpoint){
            display: flex;
        }
    }
    &__box{
        padding-bottom: 1rem;
    }
    &__text{
        font-size: 0.813rem;
        line-height: 1.3rem;
        @media (min-width:variables.$tablet-breakpoint){
            padding-left: 2.25rem;
            padding-right: 2.25rem;
            font-size: 0.875rem;
            line-height: 1.5rem;
        }
    }

}