@use './variables';

@mixin tablet {
    @media (min-width: variables.$tablet-breakpoint){
        @content;
    }
}

@mixin desktop {
    @media (min-width:variables.$desktop-breakpoint){
        @content;
    }
}

@mixin cta {
    height:2.5rem;
    width:100%;
    border-radius:4px;
    color:variables.$primary-color-light;
    background-color: variables.$primary-color-dark;
    text-transform: uppercase;
    font-weight: 700;
    padding:0.5rem;
    
}