$primary-color-dark: #323232;
$primary-color-light: #ffffff;
$primary-color-inactiveCTA: #afafaf;
$secondary-color-activeCTA: #000000;
$secondary-color-divider: #e1e1e1;
$secondary-color-background: #fafafa;
$tablet-breakpoint: 768px;
$desktop-breakpoint: 1280px;
$api-key: c8a23e5a-96f4-4b41-bc3e-a5f97cb8f66a;